keysections:
    user
    server
    debugging
    timeout
    general
    irc
    ssl

user:
    first=true
    admin=false
    suspended=false
    contactMethod=NOTICE
    suspendReason=
    activeclient=true
    readonly=false

server:
    reconnect=false
    userdisconnect=true
    reporterrors=false
    autoconnect=false
    backbuffer=0
    backbuffertimeout=0
    privatebackbuffer=0
    privatebackbuffertimeout=0
    privatebackbuffertimestamp=true
    servertype=

debugging:
    autocreate=false

timeout:
    threshold=1
    frequency=120

general:
    listenhost=0.0.0.0:33262\n0.0.0.0:+33263
    ServerName=DFBnc.Server
    allowshortcommands=true
    BotName=-BNC
    logBuffer=1000

irc:
    perform.connect=
    perform.lastdetach=
    perform.firstattach=
    bindip=
    ratelimit=false
    ratelimittime=4000
    ratelimititems=4
    ratelimitwaittime=3000
    bindipv6=
    keepnick=false
    nickname=
    realname=
    username=
    altnickname=
    offlinenickname=
    offlineawayreason=
    offlineawayalways=false
    partondetach=false
    offlineversion=
    rememberchannels=false
    serverlist=

ssl:
    storepass=
    keypass=
    keystore=
